1. Write a Python Program to Find the Factorial of a Number?

In [ ]:
a=6
factorial=1
for i in range(1,a+1):
  factorial=factorial*i
print(factorial)

720

2. Write a Python Program to Display the multiplication Table?

In [ ]:
table=4
sum=0
for i in range(1,11):
  product=table*i
  sum=0+i
  print(f"4x{sum}={product}")

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

3. Write a Python Program to Print the Fibonacci sequence?

In [ ]:
a,b=0,1
n=int(input("create a series of: "))
for i in range(n):
  sum=a+b
  print(a)
  a=b
  b=sum

create a series of: 7
0
1
1
2
3
5
8

4. Write a Python Program to Check Armstrong Number?

In [ ]:
num = 1634
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit **3
   temp=temp// 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

1634 is not an Armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [8]:
lower = 100
upper = 2000

for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

6. Write a Python Program to Find the Sum of Natural Numbers?

In [7]:
a=5
sum=0
for i in range(a+1):
  sum=sum+i
print(sum)

15